@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-image: url(./istockphoto-1097185952-612x612.jpg);
    background-size:cover;
    background-position: center;
}

.box{
    width: 40%;
    height: 80%;
    background-color: rgb(249, 246, 241);
    background-image: url(./);
    margin-left: 5vw;
    box-shadow: 9px -1px 49px black;
    border-top-right-radius: 60px;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    order: 2;
}

.pen{
    width: 20%;
    transform: rotate(45deg);
    margin-right: -15vw;
    order: 1;
}


.pen img{
    width: 100%;
}
.title{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 10rem;
    order: 3;
}
.title p {
    font-family: "Lobster", sans-serif;
    margin-top: 5rem;
    font-size: 5rem;
    text-shadow: 1px 2px 3px black;
    color: brown;
}
.butons{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#add, #clear{
    padding: 12px 2rem;
    outline-offset: 5px;
    outline: 4px solid brown;
    outline-style: double;
    background-color: rgb(61, 17, 17);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
}

#add:hover, #clear:hover{
    color: black;
    background-color: brown;
    cursor: pointer;
}

#todo{
    width: 20vw;
    padding: 1rem;
    outline: none;
    border: none;
    box-shadow: 2px -2px 10px rgb(54, 12, 12);
    border-radius: 10px;
    font-size: 1.2rem;
}


@media screen and (max-width:1070px) {
    .title p{
        font-size: 4rem;
    }
    #add, #clear{
        padding: 10px 1.5rem;
        font-size: 1rem;
    }
    #todo{
        width: 100%;
        padding: 12px;
    }
}
@media screen and (max-width:845px) {
    .title p{
        font-size: 3rem;
    }
    #add, #clear{
        padding: 8px 1rem;
        font-size: 13px;
    }
    .todo{
        text-align: center;
    }
    #todo{
        width: 80%;
        padding: 12px;
    }
    .pen{
        margin-right: -12vw;
    }
    .box{
        width: 60%;
    }
}
@media screen and (max-width:770px) {
    .title p{
        font-size: 2.5rem;
    }
    
    #add, #clear{
        padding: 8px 1rem;
        font-size: 13px;
    }
    #todo{
        padding: 12px;
    }
}
@media screen and (max-width:700px) {
    .container{
        flex-direction: column;
        justify-content:baseline;
        gap: 14px;
    }
    .pen{
        display: none;
    }
    .title{
        width: 100%;
        order: 1;
        gap: 1.2rem;
        margin: 0px;
    }
    .box{
        width: 80%;
        height: 65%;
        order: 2;
        border-radius: 30px;
    }
    .title p{
        font-size: 2.5rem;
        margin: auto;
    }
    #add, #clear{
        padding: 8px 1rem;
        font-size: 13px;
    }
    #todo{
        padding: 12px;
    }
}

@media screen and (max-width:480px) {
.title{
    gap: 1rem;
}
    .box{
        height: 70%;
    }
    .title p{
        font-size: 2rem;
        margin: auto;
    }
    #add, #clear{
        padding: 4px 1rem;
        font-size: 10px;
    }
    #todo{
        padding: 5px;
    }
}