@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
:root {
    --color-red : #CF1E38;
    --color-gray: #E5E5E5;
    --color-gray :#E5E5E5;
   

    --ff-poppins: 'Poppins', sans-serif;
    
}