footer{
    .numbers{
        $totalDivs: 2;

    @for $i from 1 through $totalDivs {
        div:nth-child(#{$i}) {
        border-right: 1px solid black;
    }
    }
    }

    $allDivs : 3;

    @for $i from 1 through $allDivs {
        div:nth-child(#{$i}) {
        padding: 0 5rem;
        line-height: 1rem;
        text-align: center;
        & p:nth-child(1) {
            color: #A62440;
            font-size: 2.5rem;
            font-weight: bold;
        }
    }
    }
}