* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: gray;
    height: 100vh;
    word-spacing: 5px;
}

.container-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.7;
    display: flex; /* yazı ortalama */
    align-items: center;
    justify-content: center;
}

.container{
    background-image: url(./img/bg.jpg);
    min-height: 100%;
}

.container-2 {
    background-image: url(./img/bg2\ \(2\).jpg);
    min-height: 80%; /* yükseklik sınırı*/
    text-align: center;
}

.container-3 {
    background-image: url(./img/bg3.jpg);
    min-height: 80%;
}

.container-4{
    background-image: url(./img/bg4.jpg);
    min-height: 80%;
}


.text-2-img {
    width: 30%;
    margin: 1rem;
}

#container-text {
    /* border: 5px solid red; */
    font-size: 3rem;
    letter-spacing: 0.8rem;
    color: white;
    line-height: 5rem;
}

.container-text-main {
    /* border: 5px solid rgb(79, 19, 111); */
    padding: 1.5rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    outline-offset: 1rem;
    outline: 8px inset purple;
    background-color: black;
}

.container-text-part {
    /* border: 5px solid red; */
    padding: 0.7rem;
    border-top-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    outline-offset: 0.2rem;
    outline: 8px inset purple;
    background-color: black;
}

.content {
    /* border: 5px solid red; */
    text-align: center;
    padding: 3rem 5rem;
    background-color: white;
    color: gray;
}

.content h2{
    /* border: 1px solid blue; */
    margin: 20px 0;
    font-weight: bold;
}

.content p{
    /* border: 5px solid red; */
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1rem;
}

.content-2{
    background-color: #282e34;
    color: #d8d2d2;
}



