header{
    // border: 1px solid red;
    text-align: center;
    padding: 3rem;
    background-color: rgba(128, 128, 128, 0.575);
    h1{
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        color:  white;
        text-transform: uppercase;
        -webkit-text-stroke: 3px rgba(0, 0, 0, 0.589);
        text-shadow: 1px 2px 2px black;
        background-color: rgba(59, 69, 107, 0.659);
        padding: 1rem;
        letter-spacing: 3px;
        border-bottom: 5px double rgba(0, 0, 0, 0.483);
    }

    ul{
        background: rgb(59,69,107);
        background: linear-gradient(180deg, rgba(59, 69, 107, 0.644) 35%, rgba(16, 121, 142, 0.48) 100%);;
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
        flex-wrap: wrap;
        // border: 1px solid red;
        li{ 
            color: white;
            list-style: none;
            font-size: 1.2rem;
            text-transform: uppercase;
            padding: 5px;
            width: 200px;
            border-radius: 10px;
            white-space: nowrap;
            color: black;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            z-index: 1;
            box-shadow: 1px 2px 10px black;

            &:hover{
                color: white;
                box-shadow: 1px 2px 10px white;
            }
            &:hover::after{
                left: 0;
            }

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                top: 0;
                left: 200px;
                background-color: rgb(34, 44, 44);
                height: 100%;
                transition:  all 1s;
                z-index: -1;
            }
        }
    }
}