*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* height: 100vh; */
    font-family: 'Judson', serif;
    font-size: 16px;
    background-image: url(./images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.container{
    margin: 50px 143px;
    border-radius: 24px;
    box-shadow: 2px 2px 50px 0 black;
    border-radius: 24px;
}

/*! Header */
header{
    padding:1rem;
    background-color: #EEECED;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

}

/*? header-1 */

.header-1{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 1rem;
    margin-right: 9rem;
    
}

.logo{
    width: 50px;
    height: 50px;
    box-shadow: -1px 1px 5px 0px black;
    padding: 5px;
    border-radius: 15px;
}

.header-1_categories select{
    width: 188px ;
    height: 40px;
    background-color: #D9D9D9;
    border: 1px solid rgb(189, 186, 186);
    border-radius: 5px;
    font-family: 'Bellota', cursive;
    font-size: 17.6;
    font-weight: bold;
    font-size: 1.1rem;
}

.input-text{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 5px;
}
.input-text input{
    /* border: 1px solid red; */
    border: none;
    outline: none;
    background-color: #D9D9D9;
    padding-left: 10px;
    border-radius: 5px;
}
.input-text img{
    padding-left: 7rem;
}

/*? header-2 */

.header-2{
    /* height: 60px; */
    border-bottom: 2px solid rgba(0, 0, 0, 0.095);
    /* border: 2px solid rgb(62, 48, 120); */
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    padding-left: 5.5rem;
}

.header-2 img{
    padding: 9px;
}

/*? header-3 */

.header-3{
    /* border: 2px solid rgb(26, 129, 19); */
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.categories-2{
    border: 1px solid rgb(189, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #D9D9D9;
    height: 40px;
    width: 309px;
    font-size: 20.8px;
    border-radius: 7px;
}
.categories-2 img{
    height: 21px;
    width: 23px;
}
.header-3 nav{
    /* border: 1px solid red; */
    display: flex;
    align-items: end;
    gap: 2rem;
    margin-right: 11rem;
    font-size: 19.2px;
    color: rgba(0, 0, 0, 0.685);
}

/*! main */

/*? main-1 */

.main-1{
    /* border: 1px solid red; */
    background-image: url(./images/stock.jpg);
    padding: 32px 80px;
}
.banner-1{
    /* border: 1px solid red; */
    height:300px ;
    width: 800px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px black;
    background-color: #D5DEE5;
    position: relative;
}

.banner-1 img{
    position: absolute;
    top: 0;
    right: 0;
}

.banner-1 p{
    /* border: 1px solid red; */
    width: 509px;
    font-style: italic;
    position: absolute;
    font-size: 2em;
    top: 5rem;
    padding: 20px;
    letter-spacing: 0.3px;
}

.banner-2{
    /* border: 1px solid red; */
    height: 300px;
    width: 400px;
    margin:auto;
    margin-top: 15px;
}

.banner-2 img{
    width: 400px;
    height: 300px;
    position: relative;
    top: 0;
    background-color: #FEC868;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px black;
}

.banner-2 p{
    position: absolute;
    /* border: 5px solid red; */
    top: 43rem;
    right: 34rem;
    font-style: italic;
}

/*? main-2 */

.main-2{
    background-color:#AE9F8D ;
    padding: 32px;
}

.main-2-container{
    /* border: 10px solid rgb(61, 98, 58); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-2_container-box{
    /* border: 3px solid red; */
    width: 350px;
    height: 350px;
    background-color: #E4E2DE;
    border-radius: 10px;
    box-shadow: 2px 2px 50px 0px black;
    margin: 16px;
    padding:16px 2px 16px 16px
}

.main-2_container-box p{
    /* border: 1px solid red; */
    font-family: 'Josefin Slab', serif;
}

.main-2 img{
    width: 332px;
    height: 318px;
    padding: 16px 10px 16px 16px;
    border-radius: 32px;
}

.main-title{
    font-size: 24px;
    margin-bottom: 32px;
}

/*? main-3 */

.main-3{
    padding: 32px;
    background-color: #EEECEC;
}

.main-3-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-3-container-box{
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 2px 2px 20px 0px black;
    margin: 16px;
    text-align: center;
    background-color: #D9D9D9;
}

.main-3 img{
    object-fit: cover; /*img- video ölçeklendirme*/
    height: 270px;
    width: 350px;
    border-radius: 10px;
}

.product-name{
    padding-bottom: 8px;
}

/*! footer */

/*? contact */

.contact{
    display: flex;
    justify-content: center;
    background-color: #AE9F8D;
    padding: 25px 32px;
}

.contact-text{
    padding: 32px;
    width: 50%;
    margin-top: 5rem;
}

.contact-text  p:first-child{ /* dipnot: > işaretide olabilirdi*/
    font-family: 'Bellota', cursive;
    font-size: 32px;
}

.contact-form{
    width: 40%;
    font-size: 24px;
    margin-top: 2rem;
}

.contact-form input{
    background-color: #AE9F8D;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
    margin:1rem 0;
    padding: 5px 0;
}

.contact-form input[type='submit']{ /* attribute ile seçici*/
    border: 1px solid black;
    background-color:#D9D9D9;
    width: 208px;
    height: 40px;
    text-align: start;
    font-style: italic;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

/*? copyright */

.copyright{
    background-color: #EEECEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.copyright a{
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
    margin-left: 1rem;
}
