@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    
}

.container{
    width: 80vw;
    height:25vh;
    background-color: #3d4e53;;
    border-radius: 30px;
    display: flex;
    align-items: center;
    box-shadow: -2px -1px 5px wheat;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
}


.ball{
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: rgb(214, 213, 151);
    border: 15px solid black;
    animation-name: left;
    animation-duration:10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.ball-2{
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    animation-name: left;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.ball::before{
    content: '';
    position: absolute;
    top: 11%;
    left:-5px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 -21px 0 black;
}
.ball-2::before{
    content: '';
    position: absolute;
    bottom: 14%;
    left: 3px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 10px 10px 0 black;
}

.ball::after{
    content: '';
    position: absolute;
    top: 11%;
    right: -5px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-top-left-radius: 30px;
    box-shadow: 0 -21px 0 black;

}

.ball-2::after{
    content: '';
    position: absolute;
    bottom: 14%;
    right: 3px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: -10px 10px 0 black;
}
.text{
    color: #0e3742;
    align-self: flex-end;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 6rem;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    text-shadow: 2px 5px 1px black;
    outline: none;
    animation: yazı 15s infinite alternate; 
}


@keyframes left {
    to{
        transform: translateX(60vw);
    }
    

}
@keyframes yazı {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
