*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image: url(./istockphoto-1412860060-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.input{
    background-color: rgb(134, 229, 197);
    border: 4px solid blue;
    outline: none;
}

.onay, .tekrar{
    display: none;
}